{% extends 'WebProfilerBundle:Profiler:layout.html.twig' %}

{% block toolbar %}
    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">
            <a href="{{ path('_profiler', { 'token': token, 'panel': name }) }}">
                <span style="width:0px; height: 28px; vertical-align: middle;"></span>
                <span class="sf-toolbar-status">{{ collector.connections|length }}</span> Jobs
            </a>
        </div>
        <div class="sf-toolbar-info">
            <div class="sf-toolbar-info-piece">
                <b>Connections</b>
                <span>{{ collector.connections|length }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Tubes</b>
                <span>{{ '0' }}</span>
            </div>
            <div class="sf-toolbar-info-piece">
                <b>Jobs</b>
                <span>{{ '0' }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAcCAYAAAB/E6/TAAABLUlEQVR42u3TP0vDQBiA8UK/gDiLzi0IhU4OEunk5OQUAhGSOBUCzqWfIKSzX8DRySF0URCcMjWLIJjFD9Cpk/D6HITecEPUuzhIAz8CIdyTP/f2iqI4qaqqDx8l5Ic2uIeP/bquezCokOAFF+oCN3t4gPzSEjc4NEPaCldQbzjELTYW0RJzHDchwwem+ons6ZBpLSJ7nueJC22h0V+FzmwWV0ee59vQNV67CGVZJmEYbkNjfpY6X6I0Qo4/3RMmTdDDspuQVsJvgkP3IdMbIkIjLPBoadG2646iKJI0Ta2wxm6OdnP0/Tk6DYJgHcfxpw21RtscDTDDnaVZ26474GkkSRIrrPEv5sgMTfHe+cA2O6wPH6vOBpYQNALneHb96XTEDI6dzpEZ0VzO0Rf3pP5LMLI4tAAAAABJRU5ErkJggg==" alt=""></span>
        <strong>Pheanstalk</strong>
        <span class="count">
            <span>{{ '0' }}</span>
        </span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Connections</h2>

    {{ dump(collector) }}

    {% set data = [] %}
    {{ block('table_connection') }}

    <h2>Tubes</h2>
    {% set data = [] %}
    {{ block('table_tube') }}

    <h2>Jobs</h2>
    {% set data = [] %}
    {{ block('table_job') }}

    {{ block('javascript') }}
{% endblock %}

{% block table_connection %}
    <table>
        <tr>
            <th>Name</th>
            <th>Host</th>
            <th>Port</th>
            <th>Timeout</th>
        </tr>
        {% for id, row in data %}
            <tr>
                <th>{{ id }}</th>
                <td>{{ row.host }}</td>
                <td>{{ row.port }}</td>
                <td>{{ row.timeout }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block table_tube %}
    <table>
        <tr>
            <th>Name</th>
            <th>Queued Jobs</th>

        </tr>
        {% for id, row in data %}
            <tr>
                <th>{{ id }}</th>
                <td>{{ row.jobs }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block table_jobs %}
    <table>
        <tr>
            <th>Name</th>
            <th>Queued Jobs</th>

        </tr>
        {% for id, row in data %}
            <tr>
                <th>{{ id }}</th>
                <td>{{ row.jobs }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}